.nav {
    background-color: var(--lightener);
    border-bottom: 3px solid var(--darkener);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 5rem;
    gap: 0.5rem;
    grid-column: 3/9;
}

.nav button {
    background-color:initial;
    border-radius: 5px;
    color: white;
    height: 3rem;
    border: none;
    font-size: x-large;
    padding: 0 1rem;
}

.nav button:hover {
    background-color: var(--darkener);
    transition: ease-in-out;
    transition-duration: .1s;
}

.spacer {
    flex: 1
}